* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    ;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(71, 7, 101, 0.585);
}

main {
    background-color: hsla(295, 87%, 44%, 0.13);
    min-height: 400px;
    width: 400px;
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.354);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.181);
    padding: 30px;    
}
main h1{
    color: #eee;
    border:black;
}

input{
        border-top: transparent;
        border-left: transparent;
        border-right:transparent;
        padding: 4px 2px;
        width: 50%;
        border-bottom-color: black;
        background-color: transparent;
        box-shadow: none;
        text-decoration: none;
        color: white;

}

button{
    border: none;
    padding: 10px 20px;
    color: white;
}

form #cadastrar-task{
    background: hwb(305 25% 33% / 0.784);
	color: #fff;
	box-shadow: 2px 2px 2px #eeeeee5a;
	text-shadow: none;
    padding-left: 15px;
    border-radius: 50px;

}

#cadastrar-task:hover {
	background: hsla(207, 62%, 76%, 0.279);
	color: #ffffff3d;;
	text-shadow: none;
    border: none;
}

#marcar-todos{
    background-color: hsla(279, 73%, 26%, 0.931);
    border-radius: 50px;
}

#marcar-todos:hover {
	background: hwb(207 61% 9% / 0.255);
	color: #fff;
	box-shadow: 1px 1px 1px #eee;
	text-shadow: none;
    border: none;
}

#limpar{
    background-color: hsla(0, 48%, 45%, 0.716);
    border-radius: 50px;
}

#limpar:hover {
	background:hwb(207 61% 9% / 0.414);
	color: #fff;
	box-shadow: 1px 1px 1px #eee;
	text-shadow: none;
    border: none;
}

.feito{
    text-decoration: line-through;
}

li.checked {
    text-decoration: line-through;
  }

ul{
    min-height: 10px;
    color: white;
}

ul div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

ul div button{
    background-image: url(./img/trash.png);
    background-size: contain;
    background-color: transparent;
    background-repeat:no-repeat;
    width: 20px;
    height:20px;
}