* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

main {
  box-sizing: border-box;
  padding: 20px;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  width: 100%;
}

form button {
  background-color: #0d69f6;
  border: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

li.checked {
  background-color: greenyellow;
  text-decoration: line-through;
}

li button {
  background-color: transparent;
  background-image: url('./trash.png');
  background-size: contain;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#button-container button {
  border: none;
  cursor: pointer;
  font-size: 14pt;
  padding: 10px 20px;
}

#button-container button:first-child {
  background-color: rgba(172, 255, 47, 0.803);
}

#button-container button:last-child {
  background-color: rgba(255, 33, 33, 0.781);
}

.erro {
  color: red;
  font-size: 14pt;
  margin: 10px;
}

@media (min-width: 600px) {
  body {
    align-items: center;
    background-color: #f8f9fe;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* vh - viewport height */
  }

  main {
    background-color: white;
    box-shadow: 2px 2px 9px #989595f7;
    min-height: 400px;
    width: 400px;
  }

  form {
    flex-direction: row;
  }

  form input {
    width: 180px;
  }
}