* {
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
  
  main {
    background-color: #f8f9fe;
    box-shadow: 2px 2px 9px #989595f7;
    min-height: 400px;
    padding: 20px;
    width: 400px;
  }
  
  button {
    border: none;
    color: white;
    padding: 10px 20px;
  }
  
  form button {
    background-color: #0d69f6;
  }
  
  #marcar-todos {
    background-color: rgba(172, 255, 47, 0.803);
    
  }
  
  #limpar {
    background-color: rgba(255, 33, 33, 0.781);
    
  }
  
  .feito {
        text-decoration: line-through;
        color: #0d69f6;
        
        //se quiser colocar cor só adicionar text-decoration: line-through;
  }