
/* Geral*/
*{
  padding: 0;
  margin:0;
  font-family: Helvetica;
  color:black;
  box-sizing: border-box;
}

body {
    background-image: url(../img/nuvem.jpg);
    background-position: center;
    background-size: cover;
}


main {
  box-sizing: border-box;
  padding: 20px;
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  width: 100%;
}

form button {
  background-color: #f60d82;
  border: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

li.checked {
  background-color: rgb(245, 221, 236);
  text-decoration: line-through;
}


#button-container button {
  border-radius: 5px;
  font-size: 10pt;
  padding: 10px 20px;
  justify-content: center;
  background-color: #f60d82;
}

#button-container button:first-child {
  background-color: #f60d82(172, 255, 47, 0.803);
  border-radius: 5px;
  justify-content: center;
}

#button-container button:last-child {
  background-color:  #e5dadf(255, 33, 33, 0.781);
  border-radius: 5px;
  justify-content: center;
}

@media (min-width: 600px) {
  body {
    align-items: center; 
    background-color: #f60d82;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  main {
    background-color: white;
    box-shadow: 2px 2px 9px white;
    min-height: 400px;
    width: 400px;
    border-radius: 10px 20px 15px 5px;
  }

  form {
    flex-direction: row;
  }

  form input {
    width: 180px;
  }
}