css:



{
    font-family: 'Montserrat', sans-serif;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
  
  body {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
  
  main {
    background-color: #f8f9fe;
    box-shadow: 2px 2px 9px #989595f7;
    min-height: 400px;
    padding: 20px;
    width: 400px;
  }
  
  button {
    border: none;
    color: white;
    padding: 10px 20px;
  }
  
  form button {
    background-color: #0d69f6;
  }
  
  #marcar-todos {
    background-color: rgba(115, 151, 29, 0.803);
    
  }
  
  #limpar {
    background-color: rgba(97, 6, 59, 0.781);
    
  }
  
  .feito {
        text-decoration: line-through;
        color: #0d69f6;: line-through;
        
        
  }